{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Listing: {{ listing.name }}</h1>
    {% if user.is_authenticated%}
        <form action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            {% if in_watchlist %}
                <button type="submit" class="btn btn-secondary btn-sm mb-3">Remove from Watchlist</button>
            {% else %}
                <button type="submit" class="btn btn-secondary btn-sm mb-3">Add to Watchlist</button>
            {% endif %}
        </form>
    {% endif %}
    <div>
        <img src="{{ listing.image }}" alt="{{ listing.name }}" style="width:300px">
        <p>{{ listing.description }}</p>
    </div>
    <h2>${{ listing.current_price }}</h2>

    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}

    {% if listing.is_active %}
        {% if user == listing.owner %}
            <form action="{% url 'close_bid' listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-primary mb-3">Close Bid</button>
            </form>
        {% elif user.is_authenticated %}
            <form action="{% url 'add_bid' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="number" name="bid" class="form-control" placeholder="Bid Amount" step="0.01">
                </div>
                <button type="submit" class="btn btn-primary mb-3">Place Bid</button>
            </form>
        {% endif %}
    {% else %}
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Auction Closed</h4>
            {% if user == listing.bids.last.user %}
                <p class="mb-0">🎉 <strong>Congratulations! You have won this auction!</strong> 🎉</p>
            {% elif user == listing.owner %}
                <p class="mb-0">You closed this auction. The winner is <strong>{{ listing.bids.last.user }}</strong>.</p>
            {% else %}
                <p class="mb-0">This item has been sold.</p>
            {% endif %}    
        </div>
    {% endif %}


    <h3>Details</h3>
    <ul>
        <li>Listed by: {{ listing.owner }}</li>
        <li>Category: {{ listing.category}}</li>
    </ul>

    <h3>Comments</h3>

    {% if user.is_authenticated %}
        <form action="{% url 'comment' listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="comment" placeholder="Add comment" class="form-control">
            </div>
            <button class="btn btn-primary mb-3" type="submit">Add Comment</button>
        </form>
    {% endif %}
    <div class="list-group">
        {% for comment in listing.comments.all %}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <p class="mb-1">@{{ comment.user }}</h5>    
                <h5>{{ comment.comment }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock body %}